.home-effect-text {
  min-height: 100vh;
  background-color: var(--beige-color);

  color: var(--soft-white-color);

  div {
    padding: 50px;

    a {
      color: var(--deep-black-color);
    }
  }
}
