<section class="slider" id="slider">
    <div class="slider w-100 h-100" id="slider">
        <div class="slider-text w-50">
            <p class="text-white">Atlética Sagui</p>
            <h1 class="text-yellow">O que fazemos na vida ecoa na eternidade</h1>
            <p class="text-white">O único limite que te impede, é aquele que você aceita</p>

            <button class="btn-outline-black">Seja um apoiador</button>
            <button class="btn-white">Competições</button>
        </div>
    </div>
</section>