<section class="presentation-content">
  <div class="presentation-image-content">
    <img
      src="https://cdn.diariodesuzano.com.br/upload/dn_noticia/2018/05/portal-1-fatec-ferraz.jpg"
      alt=""
    />
    <div class="presentation-text-content">
      <h1>Atlética Sagui</h1>
      <p>
        A Atlética Sagui foi fundada em 2024 com o propósito de unir os alunos
        da
        <a href="https://fatecferraz.edu.br/" target="_blank" rel="external"
          >Fatec Ferraz de Vasconcelos</a
        >
        por meio do esporte, da cultura e da festa. Representamos os cursos de
        <a
          href="https://fatecferraz.edu.br/nossoscursos/ads/"
          target="_blank"
          rel="external"
          >Analise e Desenvolvimento de Sistemas</a
        >,
        <a
          href="https://fatecferraz.edu.br/nossoscursos/gestaoempresarial/"
          target="_blank"
          rel="external"
          >Gestão Empresarial</a
        >
        e
        <a
          href="https://fatecferraz.edu.br/nossoscursos/gpi/"
          target="_blank"
          rel="external"
          >Gestão da Produção Industrial</a
        >
      </p>
    </div>
  </div>
</section>
