<address>
  <ul>
    <li>
      <a
        class="background-icon"
        [href]="socialMedia.whatsapp"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fab fa-whatsapp"></i
      ></a>
    </li>

    <li>
      <a
        class="background-icon"
        [href]="socialMedia.instagram"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fab fa-instagram"></i
      ></a>
    </li>

    <li>
      <a
        class="background-icon"
        [href]="socialMedia.linkedin"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fab fa-linkedin"></i
      ></a>
    </li>
  </ul>
</address>
