p {
  color: var(--deep-black-color);
}

ul {
  display: flex;
  margin: 20px;

  i {
    color: var(--soft-white-color);
  }
}

.background-icon {
  padding: 0.8rem;
  margin: 0.5rem;
  background-color: var(--brown-color);
  align-items: center;
}
