address {
  margin: auto;

  p {
    color: var(--deep-black-color);
  }

  ul {
    display: flex;

    li {
      flex: 1;
      margin: 0.5rem;
    }

    i {
      color: var(--soft-white-color);
    }
  }

  .background-icon {
    padding: 0.8rem;
    border-radius: 2px;

    background-color: var(--brown-color);
    align-items: center;
  }
}
