<section class="info-map-with-contacts">
    <section class="background-image h-50">
        <div class="w-100 h-100 shadow-box">
            <img src="https://www.shutterstock.com/image-vector/colorful-concept-sports-silhouettes-sport-600nw-2378868431.jpg"
                alt="">
            <h3 class="w-75 text-center text-white">Superando limites, juntos somos imbatíveis!</h3>
        </div>
    </section>

    <section class="map-and-contacts d-flex flex-row w-75 h-50 m-auto">
        <!--Map-->
        <map-component></map-component>
        <!--Contacts-->
        <contacts-component></contacts-component>
    </section>

    <!--Social medias - Bottom-->
    <social-media-component></social-media-component>
</section>