:root {
    --yellow-color: #F2BB16;
    --mustard-yellow-color: #A6751B;
    --brown-color: #401E11;
    --beige-color: #F2E1AC;
    --black-color: #000000;
    --white-color: #ffffff;
}

header {
    background-color: var(--yellow-color);
    height: 10vh;

    .menu {
        display: block;
    }
    
    .menu-toggle {
        display: none;
    }
}

.page-entry {
    position: relative;
    height: 90vh;
    background-color: var(--brown-color);

    .text-entry {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -30%);
        z-index: 2;
    }

    .slider {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        transform: translateX(100%);
        transition: transform 1s ease-in-out;
        z-index: 1;
    }

    .slide.active {
        transform: translateX(0);
        z-index: 2;
    }

    .slide.previous {
        transform: translateX(0);
        z-index: 1;
    }

    @keyframes slide-in {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes fade-out {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}

.company-identity {
    background-color: var(--white-color);
    height: 150vh;

    .identities {
        position: relative;

        .identity-img {
            overflow: hidden;
            height: 75vh;
        }

        .identity {
            position: relative;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);

            background-color: var(--brown-color);
            color: var(--white-color);
        }
    }
}

.parallax-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px 20px;
    align-items: center;
    justify-items: center;

    height: 50vh;

    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-color-tennis-sport-advertising-background-backgroundmotionwork-outtennistreeshand-paintedfreshhouses-image_75815.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--yellow-color);
}

.events {
    padding: 100px 0;

    background-color: var(--mustard-yellow-color);
    color: var(--white-color);
}

.programs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;

    height: 50vh;

    .program-item {
        position: relative;
        width: 100%;
        max-width: 450px;
        aspect-ratio: 4/3;

        .program-item-button {
            position: absolute;
            bottom: 20%;
            left: 10%;
        }
    }
}

.contacts {
    position: relative;
    height: 100vh;

    .contacts-top {
        position: relative;
        background-color: var(--white-color);

        h2 {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }

    .contacts-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 1;
        background-color: var(--mustard-yellow-color);
    }

    .contacts-bottom {
        background-color: var(--beige-color);
    }
}

main .background-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 10px 13px;
    margin: 5px;
    background-color: var(--brown-color);
}

footer {
    .donation {
        background-color: var(--brown-color);
        color: var(--white-color);
    }

    .copyright {
        background-color: var(--yellow-color);
        color: var(--black-color);
    }
}

.logo-icon {
    width: 50px;
    aspect-ratio: 1;
}

.shadow-box {
    position: relative;
    overflow: hidden;
}

.shadow-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.btn-black {
    padding: 10px 50px 10px 10px !important;
    border: 1px solid transparent;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;

    background-color: var(--black-color);
    color: var(--mustard-yellow-color);
}

.btn-black:hover {
    border-color: var(--white-color);
}

.btn-outline-black {
    padding: 10px 50px 10px 10px !important;
    border: 1px solid transparent;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;

    background-color: var(--black-color);
}

.btn-outline-black:hover {
    border-color: var(--white-color);

    color: var(--white-color);
    background-color: transparent;
}

.btn-white {
    padding: 10px 50px 10px 10px !important;
    border: 1px solid var(--white-color);

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;

    background-color: transparent;
}

.btn-white:hover {
    border-color: transparent;

    background-color: var(--black-color);
    color: var(--white-color);
}

.text-yellow {
    color: var(--yellow-color);
}

.text-mustard-yellow {
    color: var(--mustard-yellow-color);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

a {
    color: var(--white-color);
    text-decoration: none;
}


img {
    object-fit: cover;

    width: 100%;
    height: 100%;
}



@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}