<address>
  <div>
    <p>Nos siga nas redes sociais</p>
  </div>
  <ul>
    <li>
      <span class="background-icon">
        <a
          href="https://www.instagram.com/atleticasagui_fatecferraz/"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fab fa-instagram"></i
        ></a>
      </span>
    </li>
    <li>
      <span class="background-icon">
        <a href="#" target="_blank" rel="noopener noreferrer"
          ><i class="fab fa-youtube"></i
        ></a>
      </span>
    </li>
    <li>
      <span class="background-icon">
        <a href="#" target="_blank" rel="noopener noreferrer"
          ><i class="fab fa-linkedin"></i
        ></a>
      </span>
    </li>
  </ul>
</address>
