<section class="info-map-with-contacts">
  <section class="background-image">
    <div class="shadow-box">
      <img
        src="https://www.shutterstock.com/image-vector/colorful-concept-sports-silhouettes-sport-600nw-2378868431.jpg"
        alt=""
      />
      <h3>
        Superando limites, juntos somos imbatíveis!
      </h3>
    </div>
  </section>

  <map-and-contacts></map-and-contacts>

  <social-media-component
    class="social-media-component"
  ></social-media-component>
</section>
