<address class="d-flex flex-column justify-content-end align-items-center h-50 pt-5 pb-3">
    <div>
        <p class="text-black">Nos siga nas redes sociais</p>
    </div>
    <ul class="d-flex flex-row m-2">
        <li>
            <span class="background-icon">
                <a href="https://www.instagram.com/atleticasagui_fatecferraz/" target="_blank"
                    rel="noopener noreferrer"><i class="fab fa-instagram text-white"></i></a>
            </span>
        </li>
        <li>
            <span class="background-icon">
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube text-white"></i></a>
            </span>
        </li>
        <li>
            <span class="background-icon">
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin text-white"></i></a>
            </span>
        </li>
    </ul>
</address>