<aside class="store">
  <section class="store-text">
    <h2>Loja Oficial da Atlética Sagui!</h2>
    <p>
      Aqui você encontra tudo o que precisa para carregar o espírito da nossa
      Atlética com orgulho. Representamos força, união e determinação dentro e
      fora das quadras, e agora você pode levar esse espírito com você em forma
      de produtos exclusivos.
    </p>

    <h3>O que você encontra aqui:</h3>
    <ul>
      <li>
        Roupas: Mostre sua paixão pela Atlética com nosso vestuário oficial.
      </li>
      <li>Acessórios: Tudo o que você precisa para o dia a dia.</li>
      <li>Itens Esportivos: Equipamentos para você arrasar nos treinos.</li>
      <li>
        Produtos Personalizados: Canecas, adesivos e outros itens para mostrar
        que você é parte da família Sagui.
      </li>
    </ul>

    <a routerLink="/store">Ir a loja</a>
  </section>

  <section class="slider slider-store" id="slider-store"></section>
</aside>
