<section>
  <div class="medal-container">
    <div class="medal">
      <img src="assets/icons/angular-icon.png" alt="Angular" />
    </div>
    <div class="medal">
      <img src="src/assets/icons/docker-icon.png" alt=".NET" />
    </div>
    <div class="medal">
      <img src="src\assets\icons\docker-icon.png" alt="Docker" />
    </div>
    <div class="medal">
      <img src="src\assets\icons\python-icon.png" alt="Python" />
    </div>
  </div>

  <p>
    Se voce tem interesse em colaborar com o desenvolvimento de nossos
    softwares, explore nosso
    <a href="https://github.com/AtleticaSagui" target="_blank" rel="external"
      >GitHub</a
    >
  </p>
</section>
