.offerings {
  min-height: 50vh;

  background-color: var(--yellow-color);
  color: var(--brown-color);

  .container {
    width: 75%;
    padding: 50px 0;
    text-align: center;
  }

  .offerings-items {
    .offerings-item {
      position: relative;
      aspect-ratio: 16/9;
      color: var(--yellow-color);

      .offerings-item-image {
        width: 100%;
        height: 100%;
      }

      .offerings-item-button {
        position: absolute;
        bottom: 15%;
        left: 0;

        width: 50%;
      }
    }
  }
}
