<section class="offerings">
  <div class="container">
    <div>
      <h2>As melhores atividades para você.</h2>
      <p>Nossos programas</p>
    </div>

    <section class="offerings-items grid-image">
      <div class="offerings-item">
        <div class="offerings-item-image">
          <img
            src="https://static.vecteezy.com/ti/fotos-gratis/t1/27788272-esportes-fundo-corredor-pernas-corre-baixa-a-estrada-fechar-se-em-uma-tenis-ai-generativo-foto.jpg"
            alt="Foto generica de wallpaper de esportes"
          />
        </div>
        <div class="offerings-item-button">
          <h4>Esportes</h4>
          <a routerLink="/blog" class="btn-black">Descubra</a>
        </div>
      </div>

      <div class="offerings-item">
        <div class="offerings-item-image">
          <img
            src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4NTY4NzIzLWltYWdlLWt3dnZlNjZiLmpwZw.jpg"
            alt="Foto generica de wallpaper de e-sports"
          />
        </div>
        <div class="offerings-item-button">
          <h4>E-sports</h4>
          <a routerLink="/blog" class="btn-black">Descubra</a>
        </div>
      </div>

      <div class="offerings-item">
        <div class="offerings-item-image">
          <img
            src="https://images.unsplash.com/photo-1530103862676-de8c9debad1d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D"
            alt="Foto generica de wallpaper de festa"
          />
        </div>
        <div class="offerings-item-button">
          <h4>Eventos</h4>
          <a routerLink="/blog" class="btn-black">Descubra</a>
        </div>
      </div>
    </section>
  </div>
</section>
