<section class="page-intro">
  <img class="page-intro-image" src="https://picsum.photos/500/500" alt="" />
  <div class="page-intro-text">
    <h1>Doação para a Atlética Sagui</h1>
  </div>
</section>

<section class="incentive">
  <div>
    <h2>Introdução à Doação</h2>
    <p>
      A doação é uma maneira poderosa de apoiar a Atlética Sagui e contribuir
      para o crescimento e sucesso de nossos atletas. Sua generosidade faz a
      diferença!
    </p>
    <p>
      Agradecemos profundamente a todos os nossos doadores. Seu apoio é
      fundamental para o nosso sucesso contínuo.
    </p>
  </div>
</section>

<section class="how-to-donate">
  <h2>Como Doar</h2>
  <p>Veja como você pode contribuir:</p>
  <ul>
    <li>Doação em dinheiro</li>
    <li>Doação de equipamentos esportivos</li>
    <li>Voluntariado</li>
  </ul>
</section>

<section class="use-donations">
  <h2>Onde Suas Doações Vão</h2>
  <p>Suas doações são utilizadas para:</p>
  <ul>
    <li>Compra de equipamentos esportivos</li>
    <li>Pagamento de inscrições em campeonatos</li>
    <li>Treinamentos e desenvolvimento dos atletas</li>
  </ul>
</section>

<section class="cta">
  <h2>Faça uma Doação Agora!</h2>
  <form class="donate-form" action="">
    <input type="text" max-length="100" placeholder="Nome" />
    <input type="email" max-length="100" placeholder="E-mail" />
    <input type="number" min="1" placeholder="Valor" />
    <button type="submit">Doar</button>
  </form>
</section>

<sponsors-and-collaborations-component></sponsors-and-collaborations-component>

<section class="faqs">
  <div>
    <h2>FAQs</h2>
    <p>Respostas às perguntas frequentes sobre doação:</p>
    <ul>
      <li>
        <strong>É seguro doar online?</strong> Sim, todas as transações são
        seguras e criptografadas.
      </li>
      <li>
        <strong>Posso escolher onde meu dinheiro será usado?</strong> Sim, você
        pode especificar a área que deseja apoiar.
      </li>
      <li>
        <strong>Como posso obter um recibo de doação?</strong> Enviaremos um
        recibo por e-mail após a doação.
      </li>
    </ul>
  </div>
</section>
