<section class="history-and-curiosities">
  <section class="history">
    <h3>História</h3>
    <p>
      A Atlética Sagui, fundada em 2024 na Fatec Ferraz de Vasconcelos, tem como
      objetivo unir a comunidade acadêmica através do esporte, cultura e eventos
      sociais. Representando diversos cursos, seu mascote é o Sagui, símbolo de
      agilidade e conexão com o ambiente local. Desde sua primeira vitória na
      "Corrida Atlética Sagui", a atlética se destaca por promover integração e
      espírito esportivo entre os alunos.
    </p>
  </section>

  <section class="curiosities">
    <h3>Curiosidades</h3>
    <ul>
      <li>
        <strong>Nosso mascote:</strong> O Sagui foi escolhido por representar os
        pequenos macacos que habitam as árvores ao redor da nossa escola.
        Simboliza agilidade, determinação e a conexão com o ambiente local.
      </li>
      <li>
        <strong>Nossas cores:</strong> O amarelo e o marrom foram selecionados
        por refletirem os valores da nossa atlética: união, energia e paixão
        pelo esporte.
      </li>
      <li>
        <strong>Conquistas iniciais:</strong> Nossa primeira e mais simbólica
        vitória foi na "Corrida Atlética Sagui", que abriu caminho para eventos
        mais ousados e competitivos que realizamos hoje.
      </li>
    </ul>
  </section>
</section>
