<section class="graffiti-background">
  <img
    src="https://cdn12.picryl.com/photo/2016/12/31/graffiti-wall-mural-a9943b-1024.jpg"
    alt="Graffiti Wallpaper"
  />
</section>

<section class="proposals-content">
  <h1>Proposta</h1>

  <div class="proposals">
    <div class="proposal-item">
      <h2>Learn</h2>
      <p>
        Aprenda a usar
        <a href="https://git-scm.com/" target="_blank" rel="external">Git</a>
        e
        <a href="https://github.com/" target="_blank" rel="external">Github</a>
      </p>
    </div>

    <div class="proposal-item">
      <h2>Change</h2>
      <p>
        Crie um Fork e Clone esse
        <a
          href="https://github.com/GuiArmanLi/atleticasagui"
          target="_blank"
          rel="external"
          >repositório</a
        >
        no seu Git
      </p>
    </div>

    <div class="proposal-item">
      <h2>Collaborate</h2>
      <p>
        Siga as
        <a
          href="https://github.com/GuiArmanLi/atleticasagui/GraffitiGuidline.md"
          target="_blank"
          rel="external"
          >diretrizes</a
        >
        e deixe uma mensagem na seção de contribuições
      </p>
    </div>

    <div class="proposal-item">
      <h2>Contribute</h2>
      <p>
        Adicione um
        <a
          href="https://github.com/GuiArmanLi/atleticasagui/pulls"
          target="_blank"
          rel="external"
          >pull request</a
        >
        e veja sua mudança sendo aprovada abaixo
      </p>
    </div>
  </div>
</section>

<!--Leave your components within this section tag-->
<section>
  <h2 style="text-align: center; padding-bottom: 50px">Contribuições</h2>
</section>
