<section class="company-identities">
    <div class="identity-img w-50 h-50">
        <img src="https://png.pngtree.com/background/20210711/original/pngtree-hand-painted-cool-volleyball-sports-club-poster-background-material-picture-image_1127055.jpg"
            alt="">
    </div>
    <div class="identity w-50 p-4">
        <ul class="grid-text w-75 h-100 m-auto">
            <li>
                <i class="bi bi-balloon-fill"></i>
                <div>
                    <h3>Nossa missão</h3>
                    <p>Ser uma instituição de excelência, comprometida em cultivar um ambiente de inovação e
                        colaboração onde todos se sintam valorizados e motivados a alcançar o
                        melhor</p>
                </div>
            </li>
            <li>
                <i class="bi bi-balloon-fill"></i>
                <div>
                    <h3>Nossa visão</h3>
                    <p>Criar um ambiente inclusivo, onde todos se engajem com entusiasmo e
                        responsabilidade, promovendo trabalho em equipe</p>
                </div>
            </li>
            <li>
                <i class="bi bi-balloon-fill"></i>
                <div>
                    <h4>Nossos valores</h4>
                    <ul>
                        <li>Espírito de Equipe</li>
                        <li>Esporte e Saúde</li>
                        <li>Competitividade Saudável</li>
                        <li>Inclusão e Diversidade</li>
                        <li>Compromisso com a Instituição</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>