<section class="company-identities">
  <ul class="identities">
    <li class="identity">
      <h4>Nossa missão</h4>
      Ser uma instituição de excelência, comprometida em cultivar um ambiente de
      inovação e colaboração onde todos se sintam valorizados e motivados a
      alcançar o melhor
    </li>

    <li class="identity">
      <h4>Nossa visão</h4>
      <p>
        Criar um ambiente inclusivo, onde todos se engajem com entusiasmo e
        responsabilidade, promovendo trabalho em equipe
      </p>
    </li>

    <li class="identity">
      <h4>Nossos valores</h4>
      <ul>
        <li>Espírito de Equipe</li>
        <li>Competitividade Saudável</li>
        <li>Inclusão e Diversidade</li>
      </ul>
    </li>
  </ul>
</section>
