<section class="container">
  <h2>Parcerias e Colaborações</h2>
  <p>Conheça nossas organizações parceiras que fortalecem nossa causa.</p>

  <div class="medal-container">
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/belamel-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/charada-diversoes-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/ciclolandia.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/colegio-eduki-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/eboli-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/estomageneses-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/fatec-ferraz-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/ferraz-de-vasconcelos-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/i-next-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/my-safe-sport-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/oticas-kenzo-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/sicoob-icon.jpg"
        alt=""
      />
    </div>
    <div class="medal">
      <img
        src="./assets/icons/sponsors-and-collaborations/sorvetes-baby-icon.jpg"
        alt=""
      />
    </div>
  </div>
</section>
