.store-blog {
  min-height: 50vh;
  background-color: var(--beige-color);

  img {
    aspect-ratio: 4/3;
  }
}



@media (max-width: 768px) {
  .store-blog {
    div {
      flex-direction: column;

      aside {
        width: 100% !important;
      }
    }
  }
}
