<section
  class="parallax shadow-box text-center py-5"
  style="
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-color-tennis-sport-advertising-background-backgroundmotionwork-outtennistreeshand-paintedfreshhouses-image_75815.jpg');
  "
>
  <ul class="grid-text w-75 m-auto">
    <li>
      <i class="fas fa-running"></i>
      <div>
        <h4>Corrida</h4>
        <p>Superando limites com cada passo</p>
      </div>
    </li>
    <li>
      <i class="fas fa-futbol"></i>
      <div>
        <h4>Futebol</h4>
        <p>Paixão em campo, gols e emoção</p>
      </div>
    </li>
    <li>
      <i class="fas fa-baseball-ball"></i>
      <div>
        <h4>Futsal</h4>
        <p>Velocidade, agilidade e dribles no salão</p>
      </div>
    </li>
    <li>
      <i class="fas fa-volleyball-ball"></i>
      <div>
        <h4>Vôlei</h4>
        <p>Trabalho em equipe e conquistas incríveis</p>
      </div>
    </li>
    <li>
      <i class="fas fa-basketball-ball"></i>
      <div>
        <h4>Basquete</h4>
        <p>Altura, agilidade e cestas espetaculares</p>
      </div>
    </li>
    <li>
      <i class="fas fa-gamepad"></i>
      <div>
        <h4>E-sports</h4>
        <p>Estratégia e habilidade no mundo digital</p>
      </div>
    </li>
  </ul>
</section>
