.parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
  padding: 50px 0;

  ul {
    width: 75%;
    margin: auto;
    
    li {
      display: flex;
      align-items: center;

      width: 100%;
      max-width: 768px;
      height: 100%;

      padding: 1rem;
      border: 1px solid #ddd;
      margin: auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 2;

      i {
        width: 20%;
        font-size: 2rem;
      }

      div {
        width: 80%;
      }
    }
  }
}
