<section class="blog-content">
  <div class="blog-text">
    <div class="text-item">
      <h2>Blog Oficial da Atlética Sagui!</h2>
      <p>
        Aqui compartilhamos histórias inspiradoras e novidades que fazem parte
        do nosso dia a dia. Seja uma vitória conquistada em uma competição, um
        desafio superado em equipe, ou os momentos de união e celebração que
        fortalecem os laços entre nossos membros.
      </p>

      <a routerLink="/blog">Ir ao Blog</a>
    </div>

    <div class="text-item">
      <h3>O que você encontra no nosso blog?</h3>
      <ul>
        <li>
          <strong>Dicas de Treinamento e Saúde:</strong>
          Quer melhorar seu desempenho? Temos artigos sobre exercícios, nutrição
          e bem-estar para ajudar você a alcançar seus objetivos.
        </li>
        <li>
          <strong>Histórias e Conquistas:</strong>
          Conheça as vitórias, desafios e momentos inesquecíveis que fazem da
          Atlética Sagui uma verdadeira família.
        </li>
        <li>
          <strong>Novidades e Eventos:</strong>
          Fique por dentro de tudo o que acontece, desde competições até festas
          e ações solidárias. Você não vai querer ficar de fora!
        </li>
      </ul>
    </div>
  </div>
  <div class="slider slider-blog" id="slider-blog"></div>
</section>
