.blog-content {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .slider {
    width: 100%;
    height: 100%;
  }

  .blog-text {
    display: flex;
    gap: 5rem;
    padding: 50px;

    background-color: var(--yellow-color);
    color: var(--soft-white-color);

    .text-item {
      flex: 1;

      a {
        color: var(--brown-color);
      }
    }
  }
}
