<address class="contacts d-flex flex-column justify-content-center align-items-center w-50 h-100 text-center">
    <h3 class="text-white">Entre em contato</h3>
    <ul class="d-flex flex-column w-100">
        <li>
            <a href="mailto:contato@atleticasagui.com.br" target="_blank" rel="noopener noreferrer">
                <i class="fas fa-envelope"></i>
                <span>contato@atleticasagui.com.br</span>
            </a>
        </li>
        <li>
            <a href="https://g.co/kgs/YRsNnaT" target="_blank" rel="external">
                <i class="fas fa-map-marker-alt"></i>
                <span>Rua Carlos de Carvalho 200</span>
            </a>
        </li>
        <li>
            <a href="tel:+55119983288775" target="_blank" rel="noopener noreferrer">
                <i class="fas fa-phone"></i>
                <span>(11) 98328-8775</span>
            </a>
        </li>
        <li>
            <a href="./pages/about.html#form" target="_blank" rel="noopener noreferrer">
                <i aria-hidden="true" class="fas fa-file-alt"></i>
                <span>Formulário</span>
            </a>
        </li>
    </ul>
</address>