<section class="donation d-flex justify-content-evenly align-items-center p-4">
    <div class="w-25 d-flex flex-column justify-content-center align-items-center">
        <img class="logo-icon" src="./assets/logo_atletica.jpg" alt="Logo Atlética" />

        <address class="w-75">
            <p>Para patrocínios e doações, entre em contato via E-mail: <a href="mailto:contato@atleticasagui.com.br"
                    target="_blank" rel="noopener noreferrer">contato&#64;atleticasagui.com.br</a></p>
        </address>
    </div>

    <p class="w-25">
        A Sagui não se limita a eventos esportivos; também organiza festas, competições internas e
        atividades de integração, criando um ambiente acolhedor onde os alunos podem se conectar e formar
        amizades duradouras</p>
</section>